{% extends 'main_app/base.html' %} {% block content %}
<h1 style="text-align: center;" >Covid Information</h1>
<div>

<div class="row">
    <div class="col s4 m4">
      <div class="card  indigo darken-3">
        <div class="card-content white-text">
            <span class="card-title">What is COVID-19?</span>
          <p>The 2019 Novel Coronavirus (COVID-19) is a newly discovered and infectious disease
               caused by a virus spread from person to person. COVID-19 is part of a family of
                coronaviruses, which are a large family of viruses that cause illness to animals
                 and humans.
          </p>
        </div>
      </div>
    </div>
      <div class="col s4 m8">
        <div class="card">
            <div class="card indigo darken-3">
          <div class="card-content white-text">
            <span class="card-title activator white-text">Symptoms<i class="material-icons right">more_vert</i></span>
            <small>Click to see common symptoms.</small>
            <p>_______________________________________________________________________________________</p>
            <p>There are a wide-range of symptoms that people experience after being exposed to COVID-19.
                 These symptoms may appear anywhere between 2-14 days after being exposed to the virus. 
                 Severity levels of these symptoms vary from person to person and are dependent on many
                  factors (mainly age and underlying health conditions).
            </p>
            <p>*** Some people may be presymptomatic (having COVID-19 before developing any symptoms) or asymptomatic (having COVID-19 but develop no symptoms).</p>
          </div>
          <div class="card-reveal  indigo">
            <span class="card-title white-text">Common Symptoms<i class="material-icons right">close</i></span>
            <div class = "card-content white-text">
            <p>- Cough </p> 
            <p>- Fever or chills</p>
            <p>- Shortness of breath or difficulty breathing </p>
            <p>- Fatigue</p>
            <p>- Muscle or body aches</p>
            <p>- Nasal congestion or runny nose </p>
            <p>- Headache</p>
            <p>- Loss of taste or smell </p>
            <p>- Sore throat </p>
            <p>- Nausea or vomiting </p>
            <p>- Diarrhea </p>
            <p>- Skin rash or discoloration of toes / fingers </p>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s4 m7">
        <div class="card">
            <div class="card indigo darken-2">
          <div class="card-content white-text">
            <span class="card-title activator white-text">Preventitive Measures<i class="material-icons right">more_vert</i></span>
            <small>Click to see ways to protect yourself.</small>
            <p>_____________________________________________________________________________</p>
            <p>Although there is no cure or vaccine proven to treat COVID-19,
                 there are several preventive measures you can take to help reduce
                  the chances of being infected or spreading the virus. Most importantly, you must
                  attempt to limit your in-person contact as much as possible.
                   Click to see some of the most common preventitive measures:
            </p>
          </div>
          <div class="card-reveal indigo lighten-2">
            <span class="card-title white-text">Common Preventitive Measures<i class="material-icons right">close</i></span>
            <div class="card-content white-text">
            <p>- Wearing a mask or cloth face covering over your mouth and nose in public settings</p> 
            <p>*** Masks or cloth face coverings should not be placed on young children under age 2,
                 anyone who has trouble breathing, or is not able to remove the covering without help</p>
            <p>- Maintaining a social distance of 6-feet from others in public settings</p>
            <p>- Avoiding crowded places (bars, parties, restaurants, etc.) where the virus can easily spread</p>
            <p>- Completing daily, in-person activities online or through a virtual setting</p>
            <p>- Avoiding contact or interactions with people you know who test positive for COVID-19 or develop symptomse </p>
            <p>- Avoiding contact or interactions with people who are not wearing masks or cloth face coverings</p>
            <p>- Washing your hands often using soap & water for at least 20 seconds OR using alcohol-based sanitizer that contains at least 60% alcohol (some handwashing tips can be found here) </p>
            <p>- Monitoring your health daily by being alert for any COVID-19 symptoms you may develop and taking your temperature often </p>
          </div>
          </div>
        </div>
      </div>
    </div>  
    <div class="col s4 m5">
        <div class="card indigo darken-2">
          <div class="card-content white-text">
              <span class="card-title">How does it spread?</span>
            <p>COVID-19 is primarily spread through person to person contact within 6 feet’s
                 distance. The virus also spreads through respiratory (water)
                  droplets that are produced when an infected person coughs, sneezes or talks.
                   These droplets can potentially enter the mouths or noses of a non-infected person
                    and cause infection. 
            </p>
          </div>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col s4 m5">
        <div class="card">
            <div class="card indigo">
          <div class="card-content white-text">
            <span class="card-title activator white-text">Severe Illness<i class="material-icons right">more_vert</i></span>
            <small>Click to see medical conditions that put you at great risk.</small>
            <p>Older adults (65 and older) and people with underlying medical conditions are at a higher
                 risk for severe illness from COVID-19. Studies have shown that as you get older,
                  your risk for severe illness from COVID-19 increases. Adults aged 85 or older have 
                  the greatest risk for severe illness from COVID-19 compared to children, teens
                   and young adults who pose the least risk for severe illness from COVID-19.
            </p>
            <p></p>
          </div>
          <div class="card-reveal indigo lighten-2">
            <span class="card-title white-text">Medical Conditions<i class="material-icons right">close</i></span>
            <div class="card-content white-text">
            <p>People with the following underlying medical conditions ARE at higher risk for severe illness from COVID-19:</p> 
            <p>- Cancer</p>
            <p>- Chronic kidney disease</p>
            <p>- COPD (chronic obstructive pulmonary disease)</p>
            <p>- Immunocompromised state (weakened immune system) from solid organ transplant </p>
            <p>- Obesity (body mass index [BMI] of 30 or higher)</p>
            <p>- Serious heart conditions, such as heart failure, coronary artery disease, or cardiomyopathies</p>
            <p>- Sickle cell disease </p>
            <p>- Type 2 diabetes mellitus</p>
          </div>
          </div>
        </div>
      </div>
    </div>  

    <div class="col s4 m7">
        <div class="card indigo">
          <div class="card-content white-text">
              <span class="card-title">Is COVID deadly?</span>
            <p>Yes, COVID-19 can be fatal. There have been approx. 608,000+ deaths worldwide due to COVID-19 and approx.
                 143,000+ deaths in the United States alone (as of July 20, 2020). 
            </p>
            <p>
                However, the COVID-19 recovery rate is between 97% and 99.75%. Of the approx. 
                14.6 million confirmed cases worldwide, approx. 8.2 million people recover from COVID-19 
                (as of July 20, 2020)
            </p>
            <p>The fatality rate from COVID-19 is the highest amongst adults 65 years old and older and
                 people with underlying health conditions. According to the CDC, “8 out of 10 COVID-19 deaths
                  reported in the U.S. have been in adults 65 years old and older”.</p>
          </div>
        </div>
      </div>

  </div>

<div class= "row">
    <div class="col s4 m3">
        <div class="card indigo lighten-1">
          <div class="card-content white-text">
              <span class="card-title">Testing?</span>
            <p>There are two kinds of tests available for COVID-19: viral tests and
                 antibody tests. A viral test tells you if you have a current
                  infection and an antibody test tells you if you had a previous infection.
                   You can receive testing for one or the other, or both. It is important to know these tests are NOT perfect.

            </p>
          </div>
        </div>
      </div>
      <div class="col s4 m9">
        <div class="card indigo lighten-1">
          <div class="card-content white-text">
              <span class="card-title">What do my test results mean?</span>
            <p>For viral tests, you can either test: </p>
            <p>- Positive (you “most likely” do currently have COVID-19)</p>
            <p>- Negative (you “most likely” do NOT currently have COVID-19)</p>
            <br>
            <p>For antibody tests, you can either test:</p>
            <p>- Positive  (you “most likely” have had COVID-19 in the past)</p>
            <p>- Negative (you “most likely” NEVER had COVID-19 in the past)</p>
            <br>
            <p>And for BOTH tests, you can either test: </p>
            <p>- Viral Positive & Antibody Positive (you “most likely” do currently have COVID-19)</p>
            <p>- Viral Positive & Antibody Negative (you “most likely” do currently have COVID-19)</p>
            <p>- Viral Negative & Antibody Positive (you “likely” have had & recovered COVID-19)</p>
            <p>- Viral Negative & Antibody Negative (you “likely” NEVER had COVID-19)</p>
          </div>
        </div>
      </div>
</div>

<div class="row">
    <div class="col s6 m6">
        <div class="card indigo lighten-2">
          <div class="card-content white-text">
              <span class="card-title">When is it safe for to leave the house after testing positive?</span>
            <p>If you tested positive for COVID-19, it is recommended that before leaving 
                your house or being around others you:</p>
                <p>- Wait at least 10 days since your symptoms first appeared </p>
                <p>- Be able to go at least 24 hours without any fever or the use of fever-reducing medication</p>
                <p>- Have improved symptoms</p>
          </div>
        </div>
    </div> 
    <div class="col s6 m6">
        <div class="card indigo lighten-2">
          <div class="card-content white-text">
              <span class="card-title">Who is at greatest risk?</span>
            <p>People of all ages can be infected by COVID-19. Those who don’t wear masks
                or cloth face coverings in public settings, break social distancing guidelines,
                 participate in large crowds or gatherings, come in contact with others who
                  test positive for COVID-19 or have COVID-19 symptoms and don’t practice
                   good personal hygiene (ex: washing hands) are most at risk for COVID-19.
            </p>
          </div>
        </div>
    </div> 

</div>
</div>
{% endblock %}