{% extends 'main_app/base.html' %} {% load static %} {% block import %}
<link rel="stylesheet" href="{% static 'css/index.css' %}"> {% endblock %} {% block content %}
<h1 style="text-align: center;">Housing Market Place for the Front Line Workers 👩‍⚕️</h1>
<br>
<div id="login-buttons" style="text-align: center;">
    <a href="{% url 'login' %}" class="waves-effect waves-light btn-large blue">Login</a>
    <a href="{% url 'signup' %}" class="waves-effect waves-light btn-large">SignUp</a>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col s4">
            <div class="center">
                <i class="large material-icons" style="color: #EE6E73">local_hospital</i>
                <p><b><u>Covid warriors</u> <br> Find temporary housing easily.</b></p>
                <p class="light center">Alongside fighting the pandemic, finding temporary housing shouldn't be a hassle.</p>
            </div>
        </div>

        <div class="col s4">
            <div class="center">
                <i class="large material-icons" style="color: orange">business</i>
                <p><b><u>Landlords</u> <br> Do your part by providing housing to the heroes.</b></p>
                <p class="light center">Have an empty property? Post its ad here. We take care of the sanitization to keep it safe afterwards.</p>
            </div>
        </div>

        <div class="col s4">
            <div class="center">
                <i class="large material-icons" style="color: blue;">adb</i>
                <p><b><u>Soteria Covid Chat Bot</u> <br> Get reliable covid related info at the bottom left of your screen.</b></p>
                <p class="light center">We built the whole platform with ❤️ to appreciate your bravery.</p>
            </div>
        </div>
    </div>
</div>
<div class='row'>
    <div class='col m4'>
        <div class='card blue lighten-4'>
            <div class='card-content black-text'>
                <p>Will contain quotes from a Covid warrior who has used and appreciated our service.</p>
                <p>- Turja Chowdhury, Covid warrior </p>
            </div>
        </div>
    </div>
    <div class='col m4'>
        <div class='card red lighten-3'>
            <div class='card-content black-text'>
                <p>Will contain quotes from a Covid warrior who has used and appreciated our service.
                </p>
                <p>- Roan Numa, Covid warrior
                </p>
            </div>
        </div>
    </div>
    <div class='col m4'>
        <div class='card indigo lighten-4'>
            <div class='card-content black-text'>
                <p>Will contain quotes from a landlord who has used and appreciated our service.
                </p>
                <p>- Aditya Goyal, landlord
            </div>
        </div>
    </div>
</div>
{% endblock %}