{% extends 'main_app/base.html' %} {% block content %}
<h1 style="text-align: center;">Information on Soteria
</h1>
<div class="row" style="text-align: center;">
    <div class="col s12">
        <h3>About the Platform</h3>
        Platform for front line workers to find a temporary place to live.<br> A really comprehensive platform with User interface and ease of user at the heart.<br> Chat bot to spread awareness about the virus, even a dedicated page to get the robust
        Information on covid.<br>

    </div>
</div>
<div class="row" style="text-align: center;">
    <div class="col s6">
        <h3>For Front Line Workers</h3>
        <p>You already are going out of your way to save other people's lives. On top of that, keeping your family and community safe must also be your priority. So finding a place to socially distance yourself should not be another hassle for you.</p>
        <p>That is why we bring you 'Soteria'. Just like the name, Soteria, which signified the goddess of safety in the greek mythology, we are here to bring safety to you. Our easy to use platform provides the places you can rent out during the pandemic.</p>
        <p>From our platform, you can search for the locations closest and most convenient to you. You can also have a look at the images of the place. On top of that, you can personally get in touch with the Landlord.</p>
    </div>
    <div class="col s6">
        <h3>For Landlords</h3>
        <p>Follow your civic duty and provide your empty space for a front line worker. In these uncertain times, your mortgage will be taken care of. </p>
        <h2>NEED TO ADD MORE ON TO THIS!!!!</h2>
        <p>We will take care of the sanitization and fumigation.</p>
    </div>
</div>
{% endblock %}