{% extends 'main_app/base.html' %} {% block content %}
<div class="col s12" style="text-align: center;">
    <h1>Platform Information</h1>
</div>
<div class="col s12 m4">
    <div class="card indigo darken-3">
        <div class="card-content white-text">
            <span class="card-title">About the Platform</span>
            <p>Soteria is a platform website that helps front line & essential workers find temporary places to live by providing access to housing rentals upon search that will be strictly available to them.</p>
        </div>
    </div>
</div>
<div class="col s12 m7">
    <div class="card indigo darken-2">
        <div class="card-content white-text">
            <span class="card-title">To our Front Line & Essential Workers:</span>
            <p>The creators of Soteria understand that you are going out of your way to save other people's lives during the COVID-19 pandemic. On top of that, keeping your family and community safe must also be your priority. So finding a place to socially
                distance yourself should not be another hassle for you. That is why we bring you 'Soteria'. Just like the name, Soteria, which signifies the goddess of safety in greek mythology, we are here to bring safety to you. Our easy to use platform
                provides the places you can rent out during the pandemic. From our platform, you can search for the locations closest and most convenient to you. You can also have a look at the images of the places you search for. On top of that, you
                can personally get in contact with the Landlord for any questions you may have.
            </p>
        </div>
    </div>
</div>
<div class="col s12 m6">
    <div class="card indigo darken-1">
        <div class="card-content white-text">
            <span class="card-title">To our Landlords:</span>
            <p>The creators of Soteria encourage you to provide rental spaces for front line & essential workers during this difficult time. We are confident that your mortgages will be taken care of and we hope that you will consider using this platform
                to help provide front line & essential workers with temporary housing!
            </p>
        </div>
    </div>
</div>
<div class="col s12 m6">
    <div class="card indigo">
        <div class="card-content white-text">
            <span class="card-title">Registration</span>
            <p>When you go on the Soteria homepage, you'll be able to sign up on the platform. If you are a front line or essential worker, you'll be able to register as a "COVID Warrior" and search for nearby housing rentals depending on your location.
                You'll also be able to: review information on the location and pricing of the housing rental, see images of the housing rental and have the landlord's contact information. If you are a Landlord, you'll be able to register as a "Landlord"
                and have access to a personalized dashboard where you can add housing rentals that you are willing to provide. You will be able to add details about each housing rental such as location, pricing and images. Once you have registered, make
                sure that you use the same credentials you registered with to log in.
            </p>
        </div>
    </div>
</div>
<div class="col s12 m4">
    <div class="card indigo lighten-1">
        <div class="card-content white-text">
            <span class="card-title">COVID-19 ChatBot</span>
            <p>We've added a COVID-19 Chatbot feature to the platform and designed it to ask you questions regrading COVID-19, and direct you to COVID-19 resources. Interact with the ChatBot to help you determine the best course of action if you appear to
                have COVID-19 related symptoms. There is also a page on our platform dedicated to providing you with more general information about COVID-19. </p>
        </div>
    </div>
</div>
{% endblock %}